*{
    margin:0;
}

.foot{
    display: flex;
    position: fixed;
    
    
    
    height: 100px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    align-items: center;
    background-color: rgb(26, 25, 25);
    color: white;

}
.songinfo{
    display: flex;
    width: 400px;
    align-items: center;


}
.cover{
    margin-left: 40px;
    width: 80px;
    height: 80px;
}
.cover>img{
    width: 100%;
    height: 100%;
}
.cover>img:hover{
    transform: scale(1.8) ;
    transition: all 0.5s ease;
    

}
.text{
    justify-content: center;
    margin-left: 10px;
}
.Text>h4{
    margin-top: 0px;
    font-size: 1em;
}
.favorite{
    color: rgb(52, 255, 52);
    margin-left: 15px;
}
.Text>p{
    margin-left: 40px;
    font-size: 0.9em;
}
.prog{
    height: 100%;
    width: 600px;
    margin-left: 100px;
    display: block;
}
.Icons{
    margin-top: 10px;
    margin-left: 160px;
    display: flex;
    color: white;

}
.icon{
    margin-left: 20px;
    font-size: 2em;
    color: rgb(138, 142, 146);
}


.icon:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
.Progression{
    
    display: flex;
    margin-top: 20px;
    
   
}
.end{
    margin-left: 1000px;
}
.length{
    margin-top: 10px;
    margin-right: 10px;
    width: 500px;
    margin-left: 10px;
    height:5px;
    border-radius: 5px;
    background-color: grey;

}
.length:hover{
    cursor: pointer;
}
.length:hover>.level{
    background-color: rgb(53, 255, 53);
    
}
.level{
    
    height: 100%;
    width: 0%;
    animation: levelup 240s infinite;
    border-radius: 5px;
    background-color: white;
    /* transition: all 40s ease; */
}
@keyframes levelup {
    from{
       width: 0%;
    }
    to{
       width: 100%;
    }

}
.icons2{
    margin-left: 100px;
    display: flex;
}
.ic2{
    margin-left: 10px;
    font-size: 1.6em;
    color: white;
}
.ic2:hover{
    color:rgb(46, 255, 46) ;
    cursor: pointer;
}
.volume{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    margin-top: 10px;
    margin-left: 5px;
}
.vlevel{
    width: 70px;
    height: 100%;
    background-color: rgb(46, 255, 46);
    border-radius: 5px;
}
    




