*{
    margin: 0;
}
.playlist{
    margin-left: 300px;
    background:linear-gradient(to bottom ,rgb(233, 192, 12),black,black,black);
    color: white;
    margin-right: 316px;
    width: 900px;
    position:relative;
    height: 1580px;



}
.cover1{
    margin-left: 20px;
    margin-top: 0px;
    width: 100%;
    height: 320px;
    
    display: flex;
}
#cover1{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    color: white;
    box-shadow: 10px 10px 10px 10px rgba(49, 48, 48, 0.329);
}
.about{
    display: block;
    margin-top: 100px;
}


.about>p{
    margin-top: 10px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.about>h1{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 4em;
    
}
#user{
    margin-left: 20px;

}
#text{
    margin-left: 60px;
    margin-top: -25px;
    font-size: 0.8em;
}
#user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.playl{
    background-color: rgba(255, 255, 255, 0.082);
    width: 100%;
    height: 600px;
    color: white;
    margin-top: 30px;
}
.identifiers{
    margin-top: 20px;
    display: flex;
    width: 100%;
}
.iconl{
    margin-top: 20px;
    margin-left: 20px;  
    color: black;    
     width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgb(47, 255, 47);
}
.icol{
    font-size: 40px;
    margin-left: 13px;
    margin-top: 13px;
    position: static;

    
}
.icol:hover{
    
    cursor: pointer;
}
.icon2{
    margin-top: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    border-style: solid;
    border-width: 3px;


}
.icon2:hover{
    cursor: pointer;

}
.icon3{
    margin-left: 5px;
    margin-top: 5px;
}

.icon4{
    margin-left: 500px;
    margin-top: 35px;
}
.icon4:hover{
    cursor: pointer;

}
.button{
    width: 110px;
    height: 30px;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 5px;
    border-color: none;
    
   
    

}
.button:hover{
    cursor: pointer;

}
.button>span{
    display: flex;
    margin-left: 8px;
    font-size: 0.9em;
    margin-top: 4px;
}
.headers{
    margin-top: 40px;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: rgba(211, 206, 206, 0.767);
    margin-left: 60px;
   

}
#span{
    margin-left: 190px;
}
#span:hover{
    cursor: pointer;
    color: white;

}
hr{
    width: 800px;
    margin-left: 60px;
    margin-bottom: none;
}
.soundtrack{
    display: flex;
    height: 60px;
    font-size:  0.9em; ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin-top: 0px;
    align-items: center;
    border-radius: 10px;

}
.number{
    margin-left: 40px;
}
.plc{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    position:static;
}
.artist{
    margin-left: 0px;
    position: static;
    height: 100%;
    width: 150px;
    align-items: center;
    margin-top: 30px;
}

.artist:hover{
    cursor: pointer;
    text-decoration: underline;

}

.album{
    margin-left: 40px;
    width: 100px;
    position: static;
}
.album:hover{
    cursor: pointer;
    text-decoration: underline;

}
.days{
    margin-left: 140px;
    position: static;
}
.duration{
    margin-left: 150px;
    align-items: center;
    display: flex;
}
.like{
    color: rgb(56, 255, 56);
    margin-left: -20px;
}
.like:hover{
    cursor: pointer;
}
.playarr{
    margin-left: 0px;
    display: none;
}
.playarr:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
    color: rgb(59, 255, 59);
}
.dur{
    margin-left: 30px;
}
.soundtrack:hover{
    background-color: rgba(128, 128, 128, 0.185);
}
.soundtrack:hover>.playarr{
    display: block;
    position:absolute;
}
.bro{
    margin-top: 10px;
}
.space{
    width: 100%;
    height: 10px;
}






